<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bloggers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
            <li><a class="dropdown-item" href="articles/new">Create new article</a></li>
            <% end %>
            <li><a class="dropdown-item" href="articles">All articles</a></li>
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
            <li><a class="dropdown-item" href="articles/new">Create new categories</a></li>
            <% end %>            
            <li><a class="dropdown-item" href="categories">All categories</a></li>
           
          </ul>
        </li>
        <% if logged_in? %>
         <li class="nav-item">
            <a class="nav-link" href="users/<%current_user.id%>" tabindex="-1"><%= "(Admin)" if current_user.admin? %> <%=current_user.username %></a>
            </li>
           <li class="nav-item">
            <a><%= button_to "Logout", logout_path, method: :delete , data: { confirm: 'Are you sure?' } %></a>
            </li>
        <% else %>
            <li class="nav-item">
            <a class="nav-link" href="login" tabindex="-1">Log in</a>
            </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>